html, body, #root { height: 100%; }
body {
  margin: 0;
  font-family: 'Arimo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
}

code { font-family: 'Arimo', monospace; }
